@{
	var FlyoutClass = Flyout ? "flipping-button" : "";
	var FlyoutlabelledBy = Flyout ? "flyout-flipping" : "";
}

<button class="isys-button @CssClass" render-style="@RenderStyle" @onclick="OnClick" aria-describedby="@FlyoutlabelledBy">
	@if (Icon != null) {
		<i class="@Icon @FlyoutClass"></i>
	}
	@if (Text != null) {
		<span class="@FlyoutClass">@Text</span>
	}
</button>