@page "/archivio-fir"
@* @using Microsoft.AspNetCore.Authorization *@
@rendermode InteractiveServer
@* @attribute [Authorize] *@

<PageTitle>Archivio FIR</PageTitle>

<DxLayoutBreakpoint DeviceSize="DeviceSize.XSmall" @bind-IsActive="@isXSmallScreen" />

<h1>Archivio FIR 🚚</h1>

<ISysHeaderNavigator>
	<Tabs>
		<ISysBtn Text="Ricambio" RenderStyle="Tab" CssClass="icon-info active" Flyout="true" OnClick="() => IsOpen = !IsOpen" />
		<ISysBtn Text="Trade" RenderStyle="Tab" CssClass="icon-info" OnClick="OpenPopup" />
	</Tabs>

	<Filters>
		<ISysBtn RenderStyle="Secondary" Text="Assegnata" />
		<ISysBtn RenderStyle="Secondary" Text="In lavorazione" />
		<ISysBtn RenderStyle="Secondary" Text="Blocco per quote" />
		<ISysBtn RenderStyle="Secondary" Text="Sospesa" />
	</Filters>
</ISysHeaderNavigator>

<DxFormLayout>
    <ISysComboBoxLabel Label="Anno" CssClass="anno">
        <DxComboBox Data="@Anni" Value="@Anni" NullText="2024" />
    </ISysComboBoxLabel>

    <ISysComboBoxLabel Label="Sede" CssClass="sedi">
		<DxComboBox Data="@Sedi" Value="@Sedi" NullText="Tutte" />
	</ISysComboBoxLabel>
</DxFormLayout>

<DxGrid Data="@FIRs" 
		@ref="GridFir"
		ShowFilterRow="@IsFilterVisible"
		ShowGroupPanel="true" 
        ShowSearchBox="false" 
        SearchText="@SearchText" 
        PagerNavigationMode="PagerNavigationMode.NumericButtons"
        ColumnResizeMode="GridColumnResizeMode.NextColumn"
        >
    <Columns>
        <ISysCommandEditColumn></ISysCommandEditColumn>
        <ISysCommandViewColumn></ISysCommandViewColumn>
        <ISysCommandDeleteColumn></ISysCommandDeleteColumn>
        <DxGridCommandColumn Caption="Action" Width="30px" ClearFilterButtonVisible="false">
            <HeaderTemplate>Azione</HeaderTemplate>
            <CellDisplayTemplate>
                <div><i class="oi oi-pencil" style="color:blue;" @onclick="@(() => GridFir.StartEditDataItemAsync(context.DataItem))"></i></div>
            </CellDisplayTemplate>
        </DxGridCommandColumn>
        <DxGridDataColumn FieldName="Ticket" />
        <DxGridDataColumn FieldName="DataRichiesta" Caption="@("Data richiesta")" DisplayFormat="dd/MM/yyyy" />
        <DxGridDataColumn FieldName="DataRitiro" Caption="@("Data ritiro")" DisplayFormat="dd/MM/yyyy" />
        <DxGridDataColumn FieldName="Qty" Caption="@("Quantità")" />
        <DxGridDataColumn FieldName="Indirizzo" />
        <DxGridDataColumn FieldName="Trasportatore" />
    </Columns>
    <DetailRowTemplate>
        <text>Note di dettaglio della riga</text>
    </DetailRowTemplate>
	<EditFormTemplate Context="editContext">
        <DxFormLayout >
			<DxFormLayoutItem Caption="Data richiesta" ColSpanMd="4">
                @editContext.GetEditor("DataRichiesta")
            </DxFormLayoutItem>
            <DxFormLayoutItem Caption="Data" ColSpanMd="4">
				@editContext.GetEditor("Data ritiro")
            </DxFormLayoutItem>
            <DxFormLayoutItem Caption="Qty" ColSpanMd="4">
                @editContext.GetEditor("Qty")
            </DxFormLayoutItem>
			<DxFormLayoutItem Caption="Indirizzo" ColSpanMd="8" BeginRow="true">
				@editContext.GetEditor("Indirizzo")
            </DxFormLayoutItem>
        </DxFormLayout>
    </EditFormTemplate>
</DxGrid>

<DxPopup @bind-Visible="@PopupVisible"
		 HeaderText="Dettaglio"
		 BodyText="Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris sit amet metus vel
             nisi blandit tincidunt vel efficitur purus. Nunc nec turpis tempus, accumsan orci auctor,
             imperdiet mauris. Fusce id purus magna."
		 ShowFooter="true">
	<FooterContentTemplate>
		<DxButton RenderStyle="ButtonRenderStyle.Primary" Text="OK"
				  Click="@context.CloseCallback" />
	</FooterContentTemplate>
</DxPopup>

<DxFlyout @bind-IsOpen=IsOpen
		  Id="flyout-flipping"
		  PositionTarget=".flipping-overflow-container"
		  Position=@Position
		  CloseOnOutsideClick=false
		  Width="240">
	<span style="font-size: 0.75rem">Ritiro</span>
</DxFlyout>

@code {
    public bool isXSmallScreen { get; set; }
    bool PopupVisible { get; set; } = false;
    bool IsFilterVisible { get; set; } = true;
    string? SearchText { get; set; }
    bool IsOpen { get; set; } = false;
    FlyoutPosition Position { get; set; } = FlyoutPosition.Top;
    FlyoutAnimationType[] Animations { get; set; } = Enum.GetValues<FlyoutAnimationType>();
    FlyoutAnimationType Animation { get; set; } = FlyoutAnimationType.Fade;

    public IEnumerable<FIR> FIRs { get; set; }
    IGrid GridFir;
    void OpenPopup()
    {
        PopupVisible = true;
    }

    protected override void OnInitialized()
    {
        BuildFir();
    }

	private void BuildFir()
        {
            FIRs = new List<FIR>
            {
                new FIR
                {
                    Ticket = "FIR-123",
                    DataRichiesta = DateTime.Now,
                    DataRitiro = DateTime.Now,
                    Qty = 1000,
                    Indirizzo = "Via Manzoni",
                    Trasportatore = "Bartolini"
                },
                new FIR
                {
                    Ticket = "FIR-124",
                    DataRichiesta = DateTime.Now,
                    DataRitiro = DateTime.Now,
                    Qty = 2000,
                    Indirizzo = "Viale della pace",
                    Trasportatore = "Bartolini"
                },
                new FIR
                {
                    Ticket = "FIR-125",
                    DataRichiesta = DateTime.Now,
                    DataRitiro = DateTime.Now,
                    Qty = 2500,
                    Indirizzo = "Viale della pace",
                    Trasportatore = "Bartolini"
                },
                new FIR
                {
                    Ticket = "FIR-123",
                    DataRichiesta = DateTime.Now,
                    DataRitiro = DateTime.Now,
                    Qty = 1000,
                    Indirizzo = "Via Manzoni",
                    Trasportatore = "Bartolini"
                },
                new FIR
                {
                    Ticket = "FIR-124",
                    DataRichiesta = DateTime.Now,
                    DataRitiro = DateTime.Now,
                    Qty = 2000,
                    Indirizzo = "Viale della pace",
                    Trasportatore = "Bartolini"
                },
                new FIR
                {
                    Ticket = "FIR-125",
                    DataRichiesta = DateTime.Now,
                    DataRitiro = DateTime.Now,
                    Qty = 2500,
                    Indirizzo = "Viale della pace",
                    Trasportatore = "Bartolini"
                },
                new FIR
                {
                    Ticket = "FIR-123",
                    DataRichiesta = DateTime.Now,
                    DataRitiro = DateTime.Now,
                    Qty = 1000,
                    Indirizzo = "Via Manzoni",
                    Trasportatore = "Bartolini"
                },
                new FIR
                {
                    Ticket = "FIR-124",
                    DataRichiesta = DateTime.Now,
                    DataRitiro = DateTime.Now,
                    Qty = 2000,
                    Indirizzo = "Viale della pace",
                    Trasportatore = "Bartolini"
                },
                new FIR
                {
                    Ticket = "FIR-125",
                    DataRichiesta = DateTime.Now,
                    DataRitiro = DateTime.Now,
                    Qty = 2500,
                    Indirizzo = "Viale della pace",
                    Trasportatore = "Bartolini"
                },
                new FIR
                {
                    Ticket = "FIR-123",
                    DataRichiesta = DateTime.Now,
                    DataRitiro = DateTime.Now,
                    Qty = 1000,
                    Indirizzo = "Via Manzoni",
                    Trasportatore = "Bartolini"
                },
                new FIR
                {
                    Ticket = "FIR-124",
                    DataRichiesta = DateTime.Now,
                    DataRitiro = DateTime.Now,
                    Qty = 2000,
                    Indirizzo = "Viale della pace",
                    Trasportatore = "Bartolini"
                },
                new FIR
                {
                    Ticket = "FIR-125",
                    DataRichiesta = DateTime.Now,
                    DataRitiro = DateTime.Now,
                    Qty = 2500,
                    Indirizzo = "Viale della pace",
                    Trasportatore = "Bartolini"
                },
                new FIR
                {
                    Ticket = "FIR-123",
                    DataRichiesta = DateTime.Now,
                    DataRitiro = DateTime.Now,
                    Qty = 1000,
                    Indirizzo = "Via Manzoni",
                    Trasportatore = "Bartolini"
                },
                new FIR
                {
                    Ticket = "FIR-124",
                    DataRichiesta = DateTime.Now,
                    DataRitiro = DateTime.Now,
                    Qty = 2000,
                    Indirizzo = "Viale della pace",
                    Trasportatore = "Bartolini"
                },
                new FIR
                {
                    Ticket = "FIR-125",
                    DataRichiesta = DateTime.Now,
                    DataRitiro = DateTime.Now,
                    Qty = 2500,
                    Indirizzo = "Viale della pace",
                    Trasportatore = "Bartolini"
                },
                new FIR
                {
                    Ticket = "FIR-123",
                    DataRichiesta = DateTime.Now,
                    DataRitiro = DateTime.Now,
                    Qty = 1000,
                    Indirizzo = "Via Manzoni",
                    Trasportatore = "Bartolini"
                },
                new FIR
                {
                    Ticket = "FIR-124",
                    DataRichiesta = DateTime.Now,
                    DataRitiro = DateTime.Now,
                    Qty = 2000,
                    Indirizzo = "Viale della pace",
                    Trasportatore = "Bartolini"
                },
                new FIR
                {
                    Ticket = "FIR-125",
                    DataRichiesta = DateTime.Now,
                    DataRitiro = DateTime.Now,
                    Qty = 2500,
                    Indirizzo = "Viale della pace",
                    Trasportatore = "Bartolini"
                }
            };
        }

    public class FIR
    {
		public string Ticket { get; set; }
		public DateTime DataRichiesta { get; set; }
		public DateTime DataRitiro { get; set; }
		public int Qty { get; set; }
		public string Indirizzo { get; set; }
		public string Trasportatore { get; set; }
	}

	public void ToggleFilter()
	{
		IsFilterVisible = !IsFilterVisible;
	}

	public string[] Anni = new string[] { "2021", "2020", "2019", "2018", "2017" };
	public string[] Sedi = new string[] { "Sede 1", "Sede 2", "Sede 3", "Sede 4", "Sede 5" };
}
