@page "/showcase"
@using Microsoft.CodeAnalysis
@rendermode InteractiveServer

<h1>Card</h1>
<ISysContainer>
    <Row1Col2><Card Title="Titolo Card" Text="Testo" FullHeight="false"></Card></Row1Col2>
    <Row1Col1><Card Title="Titolo Card" Text="Con icona" Icon="icon-weight" /></Row1Col1>
    <Row1Col3>
        <Card Classes="card-alt"
              Category="Documenti"
              Title="Archivio Fir"
              Text=">Hai bisogno di visionare rapidamente i tuoi documenti?"
              Link="#"
              LinkText="Visualizzali tutti"
              Icon="icon-doc-xl">
        </Card>
    </Row1Col3>
    <Row2Col1><Card Title="Titolo Card" Text="Con icona" Icon="bi-alarm"></Card></Row2Col1>
    <Row2Col2><Card Title="Titolo Card" Text="Testo full h"></Card></Row2Col2>
    <Row2Col3>
        <Card Classes="card-alt"
              Category="Documenti"
              Title="Archivio Fir"
              Text=">Hai bisogno di visionare rapidamente i tuoi documenti?"
              Link="#"
              LinkText="Visualizzali tutti"
              Icon="bi-alarm">
        </Card>
    </Row2Col3>
</ISysContainer>

<h1>Tabella e Filtri</h1>

<ISysHeaderNavigator>
    <TabInfo>
        <ISysBtn Text="Ricambio" RenderStyle="Tab" CssClass="icon-info active" OnClick="OpenPopup" />
    </TabInfo>

    <Filters>
        <ISysHeaderNavigatorFilter Text="Assegnata"  />
        <ISysHeaderNavigatorFilter Text="In lavorazione" Active="true" />
        <ISysHeaderNavigatorFilter Text="Blocco per quote" />
        <ISysHeaderNavigatorFilter Text="Sospesa" />
        <ISysHeaderNavigatorFilter>
            <DxComboBox NullText="Seleziona..."
                        FilteringMode="DataGridFilteringMode.Contains"
                        TextFieldName="@nameof(Location.RagioneSociale)"
                        Data="@Locations"
                        Value="@Trasportatore"/>
        </ISysHeaderNavigatorFilter>
    </Filters>

</ISysHeaderNavigator>
<DxGrid Data="@FIRs"
        @ref="GridFir"
        ShowFilterRow="true"
        ShowGroupPanel="true"
        ShowSearchBox="false"
        SearchText="@SearchText"
        PagerNavigationMode="PagerNavigationMode.NumericButtons"
        ColumnResizeMode="GridColumnResizeMode.NextColumn">
    <Columns>
        <ISysCommandEditColumn></ISysCommandEditColumn>
        <ISysCommandViewColumn></ISysCommandViewColumn>
        <ISysCommandDeleteColumn></ISysCommandDeleteColumn>
        <DxGridCommandColumn Caption="Action" Width="30px" ClearFilterButtonVisible="false">
            <HeaderTemplate>Azione</HeaderTemplate>
            <CellDisplayTemplate>
                <div><i class="oi oi-pencil" style="color:blue;" @onclick="@(() => GridFir.StartEditDataItemAsync(context.DataItem))"></i></div>
            </CellDisplayTemplate>
        </DxGridCommandColumn>
        <DxGridDataColumn FieldName="Ticket" />
        <DxGridDataColumn FieldName="DataRichiesta" Caption="@("Data richiesta")" DisplayFormat="dd/MM/yyyy" />
        <DxGridDataColumn FieldName="DataRitiro" Caption="@("Data ritiro")" DisplayFormat="dd/MM/yyyy" />
        <DxGridDataColumn FieldName="Qty" Caption="@("Quantità")" />
        <DxGridDataColumn FieldName="Indirizzo" />
        <DxGridDataColumn FieldName="Trasportatore" />
    </Columns>
    <DetailRowTemplate>
        <text>Note di dettaglio della riga</text>
    </DetailRowTemplate>
    <EditFormTemplate Context="editContext">
        <DxFormLayout>
            <DxFormLayoutItem Caption="Data richiesta" ColSpanMd="4">
                @editContext.GetEditor("DataRichiesta")
            </DxFormLayoutItem>
            <DxFormLayoutItem Caption="Data" ColSpanMd="4">
                @editContext.GetEditor("Data ritiro")
            </DxFormLayoutItem>
            <DxFormLayoutItem Caption="Qty" ColSpanMd="4">
                @editContext.GetEditor("Qty")
            </DxFormLayoutItem>
            <DxFormLayoutItem Caption="Indirizzo" ColSpanMd="8" BeginRow="true">
                @editContext.GetEditor("Indirizzo")
            </DxFormLayoutItem>
        </DxFormLayout>
    </EditFormTemplate>
</DxGrid>
<DxPopup @bind-Visible="@PopupVisible"
         HeaderText="Dettaglio"
         BodyText="Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris sit amet metus vel
             nisi blandit tincidunt vel efficitur purus. Nunc nec turpis tempus, accumsan orci auctor,
             imperdiet mauris. Fusce id purus magna."
         ShowFooter="true">
    <FooterContentTemplate>
        <DxButton RenderStyle="ButtonRenderStyle.Primary" Text="OK"
                  Click="@context.CloseCallback" />
    </FooterContentTemplate>
</DxPopup>

<h1>Editor</h1>
<DxFormLayout CaptionPosition="CaptionPosition.Vertical">

    <DxFormLayoutItem Caption="DxTextBox" ColSpanMd="4">
        <DxTextBox NullText="Scrivi del testo"></DxTextBox>
    </DxFormLayoutItem>
    <DxFormLayoutItem Caption="DxTextBox" ColSpanMd="4">
        <DxTextBox NullText="Readonly" ReadOnly="true"></DxTextBox>
    </DxFormLayoutItem>
    <DxFormLayoutItem Caption="DxCheckBox" ColSpanMd="4">
        <DxCheckBox @bind-Checked="@Selezionato">Multimedia</DxCheckBox>
    </DxFormLayoutItem>


    <DxFormLayoutItem Caption="DxDateEdit" ColSpanMd="4">
        <DxDateEdit @bind-Date="@DateTimeValue"></DxDateEdit>
    </DxFormLayoutItem>
    <DxFormLayoutItem Caption="DxComboBox" ColSpanMd="4">
        <DxComboBox Data="@FIRs"
                    TextFieldName="@nameof(FIR.Indirizzo)"
                    ValueFieldName="@nameof(FIR.Ticket)"
                    NullText="Seleziona..."
                    ClearButtonDisplayMode="DataEditorClearButtonDisplayMode.Auto"
                    @bind-Value="@Ticket" />
    </DxFormLayoutItem>
    <DxFormLayoutItem Caption="DxSpinEdit" ColSpanMd="4">
        <DxSpinEdit @bind-Value="@Quantita" DisplayFormat="N2" Mask="N2" />
    </DxFormLayoutItem>
    <DxFormLayoutGroup Caption="Viaggio">
        <DxFormLayoutItem Caption="Destinatario" ColSpanMd="6">
            <DxComboBox Data="@Locations"
                        EditFormat="{0}, {1} {2}"
                        ValueFieldName="@nameof(Location.RagioneSociale)"
                        @bind-Value="@Trasportatore">
                <Columns>
                    <DxListEditorColumn FieldName="@nameof(Location.RagioneSociale)" Caption="RagioneSociale" />
                    <DxListEditorColumn FieldName="@nameof(Location.Indirizzo)" Caption="Indirizzo" />
                    <DxListEditorColumn FieldName="@nameof(Location.Citta)" Caption="Citta" />
                </Columns>
            </DxComboBox>
        </DxFormLayoutItem>

    </DxFormLayoutGroup>
</DxFormLayout>