@implements IDisposable
@inherits LayoutComponentBase
@inject NavigationManager NavigationManager

<DxLayoutBreakpoint DeviceSize="DeviceSize.XSmall" @bind-IsActive="@isXSmallScreen" />

<div class="page">

    <header id="main" class="flex justify-content-between">

        @if (isXSmallScreen)
        {
            <div id="ham" onclick="(document.getElementById('sidebar').classList.toggle('auto-expanded'));(this.classList.toggle('open'))">
                <i class="bi bi-list"></i>
                <i class="bi bi-x"></i>
            </div>
        } else
		{
            <div id="brand-image">
                <div class="menu-button" onclick="(document.getElementById('sidebar').classList.toggle('auto-expanded'))">
                    <img src="images/logo-iSystem@2x.png" alt="iSystem" class="brand-image" width="39" height="48" />
                </div>
            </div>
		}

        <div class="w-100 nav-buttons-container">

            <!-- PROVVISORIO: per me che non ho l'accesso -->
            
            <ISysNotificationBanner></ISysNotificationBanner>
            <div id="user-area">
                <div class="menu-button d-flex align-items-center" onclick="(document.getElementById('user-dropdown-panel').classList.toggle('open'))">
                    <div class="user-image"><i class="bi bi-person-fill"></i></div>
                    <div class="user-info d-flex flex-column mx-3">
                        <span class="email">i.modenin@axxelera.it</span>
                        <span class="company">Azienda</span>
                    </div>
                </div>

                <div id="user-dropdown-panel" class="dropdown-area">
                    <InteractiveManageAccount></InteractiveManageAccount>

                    <form action="Account/Logout" method="get" class="display-desktop">
                        <AntiforgeryToken />
                        <DxButton RenderStyle="@ButtonRenderStyle.Link" CssClass="menu-button"  SubmitFormOnClick="true" Text="Esci" RenderStyleMode="@ButtonRenderStyleMode.Text"></DxButton>
                    </form>
                </div>
            </div>

            <!-- DEFINITIVO: utente già loggato -->
            
            @* <AuthorizeView>
                <Authorized>
                    <button class="rounded-button" @onclick="OpenNotifications"><i class="icon-notification"></i></button>

                    <div id="user-area">
                        <div class="menu-button d-flex align-items-center">
                            <div class="user-image" onclick="(document.getElementById('user-dropdown-panel').classList.toggle('open'))"><i class="bi bi-person-fill"></i></div>
                            <div class="user-info d-flex flex-column mx-3">
                                <span class="email">i.modenin@axxelera.it</span>
                                <span class="company">Azienda</span>
                            </div>
				        </div>

                        <div id="user-dropdown-panel" class="dropdown-area">
                            <DxButton RenderStyle="@ButtonRenderStyle.Link" CssClass="menu-button" NavigateUrl="Account/Manage" Text="Profilo" RenderStyleMode="@ButtonRenderStyleMode.Text"></DxButton>
                            <form action="Account/Logout" method="post" class="display-desktop">
                                <AntiforgeryToken />
                                <input type="hidden" name="ReturnUrl" value="@currentUrl" />
                                <DxButton RenderStyle="@ButtonRenderStyle.Link" SubmitFormOnClick="true" Text="Esci" RenderStyleMode="@ButtonRenderStyleMode.Text"></DxButton>
                            </form>
                        </div>
                    </div>
                </Authorized>
            </AuthorizeView> *@

        </div>

       
    </header>

    @{
        var sidebarClass = isXSmallScreen ? "auto-expanded" : "";
        var flexWrap = isXSmallScreen ? " flex-wrap" : "";
    }

    <div id="main-container" class="flex @flexWrap">
        <div id="sidebar" class="@sidebarClass">
            <ISystemMenu></ISystemMenu>
        </div>

        <div class="main-content">
            @Body
        </div>
    </div>

    <footer>
        <div id="assistenza">
            <a href="#"><img src="/images/fab-button.svg" /></a>
        </div>
    </footer>
</div>

@code {
    public bool isXSmallScreen { get; set; }
    private string? currentUrl;
 

    protected override void OnInitialized()
    {
        currentUrl = NavigationManager.ToBaseRelativePath(NavigationManager.Uri);
        NavigationManager.LocationChanged += OnLocationChanged;
    }

    private void OnLocationChanged(object? sender, LocationChangedEventArgs e)
    {
        currentUrl = NavigationManager.ToBaseRelativePath(e.Location);
        StateHasChanged();
    }

    public void Dispose()
    {
        NavigationManager.LocationChanged -= OnLocationChanged;
    }

    
}
