@implements IDisposable
@inherits LayoutComponentBase
@inject NavigationManager NavigationManager
@inject IJSRuntime JS

<DxLayoutBreakpoint DeviceSize="DeviceSize.XSmall" @bind-IsActive="@isXSmallScreen" />

<div class="page">

    <header id="main" class="flex justify-content-between">

        @if (isXSmallScreen)
        {
            <div id="ham" onclick="(document.getElementById('sidebar').classList.toggle('auto-expanded'));(this.classList.toggle('open'))">
                <i class="bi bi-list"></i>
                <i class="bi bi-x"></i>
            </div>
        } else
		{
            <div id="brand-image">
                <div class="menu-button" onclick="(document.getElementById('sidebar').classList.toggle('auto-expanded'))">
                    <img src="images/logo-iSystem@2x.png" alt="iSystem" class="brand-image" width="39" height="48" />
                </div>
            </div>
		}

        <div class="w-100 nav-buttons-container">

            <!-- PROVVISORIO: per me che non ho l'accesso -->
            
            <ISysNotificationBanner></ISysNotificationBanner>
            <div id="user-area">
                <div class="menu-button d-flex align-items-center" onclick="(document.getElementById('user-dropdown-panel').classList.toggle('open'))" >
                    <div class="user-image" ><i class="bi bi-person-fill"></i></div>
                    <div class="user-info d-flex flex-column mx-3">
                        <span class="email">i.modenin@axxelera.it</span>
                        <span class="company">Azienda</span>
                    </div>
                </div>

                <div id="user-dropdown-panel" class="dropdown-area" onmouseleave="(this.classList.remove('open'))">
                    <InteractiveManageAccount></InteractiveManageAccount>

                    <form action="Account/Logout" method="get" class="display-desktop">
                        <AntiforgeryToken />
                        <DxButton RenderStyle="@ButtonRenderStyle.Link" CssClass="menu-button"  SubmitFormOnClick="true" Text="Esci" RenderStyleMode="@ButtonRenderStyleMode.Text"></DxButton>
                    </form>
                </div>
            </div>

            <!-- DEFINITIVO: utente già loggato -->
            
            @* <AuthorizeView>
                <Authorized>
                    <button class="rounded-button" @onclick="OpenNotifications"><i class="icon-notification"></i></button>

                    <div id="user-area">
                        <div class="menu-button d-flex align-items-center">
                            <div class="user-image" onclick="(document.getElementById('user-dropdown-panel').classList.toggle('open'))"><i class="bi bi-person-fill"></i></div>
                            <div class="user-info d-flex flex-column mx-3">
                                <span class="email">i.modenin@axxelera.it</span>
                                <span class="company">Azienda</span>
                            </div>
				        </div>

                        <div id="user-dropdown-panel" class="dropdown-area">
                            <DxButton RenderStyle="@ButtonRenderStyle.Link" CssClass="menu-button" NavigateUrl="Account/Manage" Text="Profilo" RenderStyleMode="@ButtonRenderStyleMode.Text"></DxButton>
                            <form action="Account/Logout" method="post" class="display-desktop">
                                <AntiforgeryToken />
                                <input type="hidden" name="ReturnUrl" value="@currentUrl" />
                                <DxButton RenderStyle="@ButtonRenderStyle.Link" SubmitFormOnClick="true" Text="Esci" RenderStyleMode="@ButtonRenderStyleMode.Text"></DxButton>
                            </form>
                        </div>
                    </div>
                </Authorized>
            </AuthorizeView> *@

        </div>

       
    </header>

    @{
        var sidebarClass = isXSmallScreen ? "auto-expanded" : "";
        var flexWrap = isXSmallScreen ? " flex-wrap" : "";
    }

    <div id="main-container" class="flex @flexWrap">
        <div id="sidebar" class="@sidebarClass">
            <ISystemMenu></ISystemMenu>
        </div>

        <div class="main-content">
            @Body
        </div>
    </div>

    <footer>
        <div id="assistenza">
            <img id="myLauncher" src="/images/fab-button.svg" onclick="openWidget()" />
           @* <iframe id="launcher" frameborder="0" width="366" height="647" src="/zendesk.html" style="bottom: 0;  position: absolute;  right: -370px;"></iframe> *@
        </div>
        <script>
            window.zESettings = {
                webWidget: {
                    zIndex: 999999,
                    position: { horizontal: 'right', vertical: 'bottom' },
                    color: {
                        theme: '#FF5A1E',
                        launcher: '#FF5A1E', // This will also update the badge
                        launcherText: '#E589B7',
                        button: '#FF5A1E',
                        resultLists: '#FF5A1E',
                        header: '##FF5A1E',
                        articleLinks: '#FF5A1E'
                    }


                }
            };
        </script>
        <script id="ze-snippet" src="https://static.zdassets.com/ekr/snippet.js?key=ed7eb23a-5b9e-4862-8258-0c81599b3b67"></script>
        <script type="text/javascript">
            zE('webWidget', 'hide');

            function openWidget() {
                zE("webWidget", "show")
                zE("webWidget", "open")
                document.querySelector("#myLauncher").style.opacity = 0
            }

            zE('webWidget:on', 'close', function () {
                zE('webWidget', 'hide');
                document.querySelector('#myLauncher').style.opacity = 1;
            })
        </script>
    </footer>
</div>

@code {
    public bool isXSmallScreen { get; set; }
    private string? currentUrl;


    protected override void OnInitialized()
    {
        currentUrl = NavigationManager.ToBaseRelativePath(NavigationManager.Uri);
        NavigationManager.LocationChanged += OnLocationChanged;
    }

    private void OnLocationChanged(object? sender, LocationChangedEventArgs e)
    {
        currentUrl = NavigationManager.ToBaseRelativePath(e.Location);
        StateHasChanged();
    }

    public void Dispose()
    {
        NavigationManager.LocationChanged -= OnLocationChanged;
    }

    // invoke javascript function
    // protected override async Task OnAfterRenderAsync(bool firstRender)
    // {
        
    //     if (firstRender)
    //     {
    //         var module = await JS.InvokeAsync<IJSObjectReference>("import", "./ISysAiContent.js");
    //         var objRef = DotNetObjectReference.Create(this);
    //         await module.InvokeVoidAsync("renderAI", objRef);
    //     }
    // }

}
